[Unit]
Description=Fail test service
After=network-online.target
Wants=network-online.target
OnFailure=systemd_slack@%n.service

[Service]
Type=oneshot
ExecStart=/bin/ls --imaginary-argument-for-failure
